.message{data: {id: message.id}}
  .message__upper-info
    .message__upper-info__talker
      = message.user.name
    .message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__lower-message
    - if message.content.present?
      %p.messasge__lower-message__content
        = message.content
    = image_tag message.image.url, class: 'message__lower-message__image' if message.image.present?
 
